bad_record_mac during bundle install

Related to: https://github.com/rubygems/rubygems.org/issues/615

Myself, @colinsurprenant, and @ph have hit the bad_record_mac problem many times for the past two weeks and this coincides with our increased reliance on and testing of Bundler in the `wip/bundler-move` branch.

I created this ticket to avoid spamming everyone on another project (rubygems, etc) until we have sufficient information to present a reasonable bug report.




Running `bundle install --verbose` and watching it fail after a few gems get installed:

```
Gem::RemoteFetcher::FetchError: Received fatal alert: bad_record_mac (https://rubygems.org/gems/logstash-output-pipe-0.1.2.gem)
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/request.rb:88:in `connection_for'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/request.rb:85:in `connection_for'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/request.rb:140:in `perform_request'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/request.rb:109:in `fetch'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/remote_fetcher.rb:346:in `request'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/remote_fetcher.rb:231:in `fetch_http'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/remote_fetcher.rb:267:in `fetch_path'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/remote_fetcher.rb:302:in `cache_update_path'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/rubygems/remote_fetcher.rb:168:in `download'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/rubygems_integration.rb:537:in `download_gem'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/fetcher.rb:61:in `download_gem_from_uri'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/source/rubygems.rb:333:in `fetch_gem'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/source/rubygems.rb:91:in `install'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/installer.rb:104:in `install_gem_from_spec'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/rubygems_integration.rb:162:in `with_build_args'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/rubygems_integration.rb:160:in `with_build_args'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/installer.rb:103:in `install_gem_from_spec'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/installer.rb:264:in `install_sequentially'
org/jruby/RubyArray.java:1613:in `each'
/Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/1.9/forwardable.rb:201:in `each'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/installer.rb:263:in `install_sequentially'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/installer.rb:90:in `run'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/installer.rb:18:in `install'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/cli/install.rb:79:in `run'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/cli.rb:145:in `install'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/vendor/thor/command.rb:27:in `run'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/vendor/thor/invocation.rb:121:in `invoke_command'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/vendor/thor.rb:363:in `dispatch'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/vendor/thor/base.rb:440:in `start'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/cli.rb:9:in `start'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/bin/bundle:20:in `(root)'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/lib/bundler/friendly_errors.rb:5:in `with_friendly_errors'
/Users/jls/.rvm/gems/jruby-1.7.19@global/gems/bundler-1.7.12/bin/bundle:18:in `(root)'
org/jruby/RubyKernel.java:1087:in `load'
/Users/jls/.rvm/gems/jruby-1.7.19@global/bin/bundle:1:in `(root)'
org/jruby/RubyKernel.java:1107:in `eval'
/Users/jls/.rvm/gems/jruby-1.7.19/bin/jruby_executable_hooks:15:in `(root)'
An error occurred while installing logstash-output-pipe (0.1.2), and Bundler
cannot continue.
Make sure that `gem install logstash-output-pipe -v '0.1.2'` succeeds before
bundling.
```

I looked at the code for this error. The report comes from Java's encryption system:

```
% ack --noenv --java '"Received fatal alert' jruby-openssl jruby ~/build/openjdk/jdk/src
/Users/jls/build/openjdk/jdk/src/share/classes/sun/security/ssl/SSLEngineImpl.java
1751:            String reason = "Received fatal alert: "

/Users/jls/build/openjdk/jdk/src/share/classes/sun/security/ssl/SSLSocketImpl.java
1956:            String reason = "Received fatal alert: "
```

I am able to reproduce this reliably under JRuby 1.7.19, JDK 1.7.0_45, OSX 10.10.1.

As part of testing, I also found this:
```
% rvm 1.7.19 do ruby test.rb
.......OpenSSL::SSL::SSLError: hostname does not match the server certificate
  post_connection_check at /Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/shared/jopenssl19/openssl/ssl-internal.rb:121
                connect at /Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/1.9/net/http.rb:802
               do_start at /Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/1.9/net/http.rb:756
                  start at /Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/1.9/net/http.rb:745
                request at /Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/1.9/net/http.rb:1293
                    get at /Users/jls/.rvm/rubies/jruby-1.7.19/lib/ruby/1.9/net/http.rb:1035
                 (root) at test.rb:19
                  times at org/jruby/RubyFixnum.java:275
                 (root) at test.rb:16
```


Code to reproduce:

```ruby
require "thread"
require "net/http"
require "openssl"
require "uri"

uri = URI.parse("https://rubygems.org/gems/O_o-1.0.0.gem")

threads = 10
iterations = 1000000
delay = 1.0 / threads

Thread.abort_on_exception = true

threads.times.collect do
  Thread.new do
    iterations.times do
      http = Net::HTTP.new(uri.host, uri.port)
      http.use_ssl = true
      http.get(uri.request_uri)
      $stdout.syswrite(".")
      sleep(delay)
    end
  end
end.map(&:join)
```

Example:
```
% rvm 1.7.19 do ruby test.rb
.............................................................................................................................................................................................OpenSSL::SSL::SSLError: Received fatal alert: bad_record_mac
   connect at org/jruby/ext/openssl/SSLSocket.java:180
```

It is no-deterministic.

I'm only testing this against EC2 ELB's (rubygems.org). It almost feels timing-oriented. Sometimes I test (several minutes of testing) and I can't reproduce it. Other times I can reproduce it nearly instantly (again, for several minutes at a time repeatedly). Almost as if I'm talking to different servers and that is what causes this.

Studying packet captures; putting notes here -

* Client handshake offers many ciphers
* Server selects 1 cipher: TLS_DHE_RSA_WITH_AES_128_CBC_SHA
* Server sends SSL certificate information
* Client starts key exchange
* Client sends first encrypted message "TLSv1 Record Layer: Change Cipher Spec Protocol: Change Cipher Spec" (according to wireshark)
* Server responds "TLSv1 Record Layer: Alert (Level: Fatal, Description: Bad Record MAC)"
* Server terminates the connection

Best guess, right now, is that this is a bug in Java's implementation of TLS_DHE_RSA_WITH_AES_128_CBC_SHA

Across ~4000 connection attempts, here's a breakdown of ciphers on each side (client/server):

* Logstash config: https://gist.github.com/jordansissel/47481e795dd28094ad6d
* Captured with `tcpdump`
* Protocol decoding with `tshark`
* Visualized with Kibana

![screen shot 2015-02-06 at 9 55 10 pm](https://cloud.githubusercontent.com/assets/131818/6091017/173873da-ae4b-11e4-91b6-fe48a92ece06.png)



Some discussion of intermittent Java SSL handshakes specifically calling out the cipher the server is selecting: https://community.oracle.com/thread/2506695

![awyeah](https://cloud.githubusercontent.com/assets/131818/6091195/dca0b2de-ae52-11e4-8d15-0db61e8e2bbf.png)

I was able to reproduce this basically using *only* Java's SSL facilities

Code to reproduce this using just the Java SSL api: https://github.com/jordansissel/experiments/blob/master/jruby/openssl/javassl.rb (it's JRuby code, but I only invoke Java APIs)

I am currently running a test that compares Java SSL handshakes against two different server backends:

* Cipher:  TLS_DHE_RSA_WITH_AES_128_CBC_SHA
* Hosts: `rubygems.org:443` and `localhost:443`
* Localhost is: `openssl s_server -cipher DHE-RSA-AES128-SHA -key server.pem -cert server.crt -accept 443` [1]

[1] `DHE-RSA-AES128-SHA` is apparently what OpenSSL calls the same thing Java labels `TLS_DHE_RSA_WITH_AES_128_CBC_SHA`. They both appear as cipher code `0x0033` in wireshark, so they are the same thing.

I'm going to run this test overnight and see the differences in results.

Given some early test results (1000 connections on each server), I believe that this _bug_ is specific to Java talking to Amazon's ELB SSL terminators. This suspicion is due to eyeball observations that Java has never once (while I was writing the code) failed to handshake with localhost.

See you tomorrow, sweet little script.
```
    rubygems.org:443:  1239✅      6❌    {"Received fatal alert: bad_record_mac"=>6}
       localhost:443:  1244✅      0❌    {}
```

Good morning!

Roughly 9 hours of connection/handshake trials.

Results:

# Success vs Failure by platform

![screen shot 2015-02-07 at 8 07 57 am](https://cloud.githubusercontent.com/assets/131818/6092736/96460d18-aea0-11e4-9d67-ac87ba3e956b.png)

# Failure details

Average failure rate per 10-minutes: 0.547% (roughly 1 failure per 180 requests)
(details: https://gist.github.com/jordansissel/bf79795c4f27fb3f5770)

Failures over time (10m bucket, only failures shown)

![screen shot 2015-02-07 at 8 39 09 am](https://cloud.githubusercontent.com/assets/131818/6092814/d31610e0-aea4-11e4-94d6-7b6bf69481a2.png)





Another interesting view is failures per hour:
![screen shot 2015-02-07 at 8 42 39 am](https://cloud.githubusercontent.com/assets/131818/6092825/568fb958-aea5-11e4-9a8a-6a02e26f6d86.png)

Each bucket, eyeballing an average, 60 failures per hour (The outsides of the graph are short because they are incomplete time frames, indicated by the grey overlay shown by Kibana, yay kibana!)


In case time-of-hour is a factor (ELB rotation? something?) here's a by-"minute of hour" breakdown of failures for the whole test:

![screen shot 2015-02-07 at 8 49 56 am](https://cloud.githubusercontent.com/assets/131818/6092854/67862444-aea6-11e4-8ca3-dde9cf7379e6.png)


Nothing obvious in timing; i'm going to try different Java versions on my  mac shortly

Running Java 1.7.0_75 on OSX and with 400 connections I have had no failures (usually have 2 by this point). I will continue running the test.

Current status after upgrading to Java 1.7.0_75 on OSX
```
    rubygems.org:443:  8407✅      0❌    {}
       localhost:443:  8408✅      0❌    {}
```

0 failures after 8000 handshakes. I'm pretty sure there's a bug in 1.7.0_45.

@colinsurprenant @ph I strongly recommend upgrading your Java to Java 1.7.0_75 when running on OSX. 

I believe Java 1.7.0_45 on OSX is buggy with respect to the DHE_RSA mentioned above.

I used http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html and downloaded the OSX .dmg file. Installing the .pkg contained in the .dmg made `java -version` report 1.7.0_75 although both versions _75 and _45 wsere available if I needed them. 

After upgrading, I have yet to see any bad_record_mac problems.

/cc @headius

I think I found the bug: http://bugs.java.com/bugdatabase/view_bug.do?bug_id=8014618

This matches:
* Observed data showing the bad_record_mac occurs during DHE.
* Observation that roughly 1 request in 180 fails
* Quoting "This causes approximately 1 out 256 SSL/TLS  handshakes with DH/DHE cipher suites to fail (when the leading byte happens, by chance, to be zero)." which is pretty damn close to my observed "1 out of 180"



Running with `-Djavax.net.debug=all` and checking a working handshake against a failing handshake, using the wonderful `vimdiff` tool, shows confirmation:

![screen shot 2015-02-07 at 11 58 49 am](https://cloud.githubusercontent.com/assets/131818/6093730/d677cbcc-aec0-11e4-9d17-6cf16fe692f8.png)

The first byte of the `PreMaster Secret` is `00` and that handshake fails. This is expected according to  [Java bug 8014618](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=8014618) and is corroborated  by [RFC5246 section 8.1.2](https://tools.ietf.org/html/rfc5246#section-8.1.2)

According to the java bug tracker, this fix first appeared in [Java 1.7.0_51 b04](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=8026986)

Closing since I believe research has concluded. I will file a separate ticket to track having Logstash abort (or warn strongly) if we are using a known-buggy JVM.

As a note, in testing, I never saw a `localhost:443` failure.

Upon further investigation, I noticed that reusing the SSLContext allowed Java to re-use a previous SSL session identifier which allowed it to skip the DHE step. If I create a new SSLContext every time, I am able to easily reproduce the failure against localhost.

It is my assumption that rubygems.org's tls service does not permit reusing a previous session.